# {{ ansible_managed }}
Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
UsePrivilegeSeparation yes
KeyRegenerationInterval 3600
ServerKeyBits 1024
SyslogFacility AUTH
LogLevel INFO
LoginGraceTime 120
StrictModes yes
RSAAuthentication yes
PubkeyAuthentication yes
IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes

PermitRootLogin {{ 'yes' if sshd_config_permit_root_login else 'no' }}
PasswordAuthentication {{ 'yes' if sshd_config_password_authentication else 'no' }}
X11Forwarding {{ 'yes' if sshd_config_x11_forwarding else 'no' }}
AllowAgentForwarding {{ 'yes' if sshd_config_allow_agent_forwarding else 'no' }}
{% if sshd_config_banner_file %}Banner {{ sshd_config_banner_file }} {% endif %}
