#
# {{ ansible_managed }}
#
#
Defaults	env_reset
Defaults	mail_badpass
Defaults	secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

root	ALL=(ALL:ALL) ALL

# Allow members of group sudo and wheel to execute any command
%sudo	ALL=(ALL:ALL) NOPASSWD:ALL
%wheel ALL=(ALL:ALL) NOPASSWD:ALL

# See sudoers(5) for more information on "#include" directives:
#includedir /etc/sudoers.d
