user www-data;
pid /run/nginx.pid;
error_log /log/nginx/error.log;

################################################################################
# Performance Tuning
################################################################################
worker_processes {{ ansible_processor_cores }};
worker_rlimit_nofile 50000;

events {
    worker_connections 20000;

    # Generally, performance tuners suggest turning multi_accept on. In testing,
    # we found that this could lead to one nginx server accepting all requests,
    # and then passing them to one Puma server, which then became overloaded.
    # You can adjust this if you want!
    multi_accept off;
}

################################################################################
# General Settings
################################################################################

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;

    keepalive_timeout 65;
    types_hash_max_size 2048;

    server_tokens off;
    more_clear_headers Server;

    # server_names_hash_bucket_size 64;
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    # Logging
    access_log /log/nginx/access.log;
    error_log /log/nginx/error.log;

    # Gzip Info
    gzip on;
    gzip_disable "msie6";

    # Include other config files
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
